---
// @ts-nocheck
import config from '../config';
import SvgSprites from '../components/SvgSprites.astro'
import Header from './Header.astro'
import Footer from './Footer.astro'
import '../styles/style.styl'

const { siteUrl, meta, path } = config;
const {
  title = meta.title[0],
  description = meta.description[0],
  ogTitle = meta.title[1] ?? meta.title[0],
  ogDescription = meta.description[1] ?? meta.description[0],
  ogSiteName = meta.ogSiteName,
  ogUrl = siteUrl,
  ogImage = meta.ogImage,
  ogType = meta.ogType,
  bodyClass
} = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:site_name" content={ogSiteName} />
    <meta property="og:url" content={ogUrl} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:type" content={ogType} />
    <link rel="shortcut icon" type="image/ico" href={`${path.image}favicon/favicon.svg`}>
    <script src="../scripts/main.js"></script>
  </head>
  <body class={bodyClass}>
    <SvgSprites />
    <div class="wrapper">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

